
/* Choices component */
.choices-jumbo{
  background-color: #00b5ad;
  text-align: center;
  margin: 50px 0;
  color: white;
}

/* Question component */
.question-btn{
  width: 30%;
  background-color: #00b5ad !important;
  color : white !important;
}
